*
!/**/
!*.*

# Prerequisites
*.d

# Compiled Object files
*.slo

*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
# *.out
*.apps

my_stuff/projects/handwriting_recognition

**/HOMEWORK.txt

**/testing.*

**/.vscode
**/DS_Store