**
!**/*.*
!**/
# Prerequisites
*.d

# Compiled Object files
*.slo

*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.apps

testing.*

.vscode
.DS_Store
*.dSYM/**

.ipynb_checkpoints


# Other ignores
## Donkeycar
my_stuff/projects/donkeycar/DonkeySimWin/
my_stuff/projects/donkeycar/DonkeySimWin.zip
my_stuff/projects/donkeycar/**/data/
## Exercism
exercism/